# A Todo List for what I plan to do in my next working session if I have specific ideas I would like to remember
todo.txt

# A file containing the full content of the messages samples I wrote for the project
message-content.txt

# A js file that is currently unused
app.js

